.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    outline: 0;
    cursor: pointer;

    &--type {
        &-normal {}

        &-primary {}

        &-flat {

        }
    }

    &--size {
        &-small {
        }

        &-regular {}

        &-medium {}

        &-big {}
    }
}

