<gd-dialog-title *ngIf="data.title">{{data.title}}</gd-dialog-title>
<gd-dialog-content [innerHTML]="contentHtml"></gd-dialog-content>
<gd-dialog-actions align="end">
    <!-- Button for alert -->
    <button *ngIf="data.isAlert"
            gd-button
            gdDialogClose
            aria-label="close-button">
        {{alertButtonString}}
    </button>

    <!-- Button fro confirm -->
    <button *ngIf="!data.isAlert"
            gd-button
            gdDialogClose
            aria-label="cancel-button">
        {{cancelButtonString}}
    </button>
    <button *ngIf="!data.isAlert"
            gd-primary-button
            (click)="confirm()"
            aria-label="confirm-button">
        {{confirmButtonString}}
    </button>
</gd-dialog-actions>
