@import "../../ui/style/sizes";

.NoteFinder {
    width: 100%;
    height: 100%;

    &__title {
        width: 100%;
        height: $box-size;
        padding: 0 $spacing-half;
    }

    &__title > h1 {
        padding: 0 $spacing-half;
    }
}
