@import "../../ui/style/typography";

.TitleBar {
    //noinspection CssUnknownProperty
    -webkit-app-region: drag;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    height: 22px; // Darwin
    zoom: 1;

    font: {
        size: $font-size;
        weight: $font-weight-normal;
    };
    line-height: 22px;
}
