@import "../style/theming";
@import "../style/typography";

@mixin gd-button-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .Button {
        color: inherit;
        background: transparent;

        &--type {
            &-normal {
                border-radius: 2px;
                border: 1px solid gd-color($foreground, divider);
                background-color: gd-color($background, background-highlight);

                &:disabled {
                    border-color: gd-color($background, disabled-button);
                    color: gd-color($foreground, disabled-button);
                    background-color: gd-color($background, disabled-button);
                }

                &:focus {
                    box-shadow: 0 0 0 2px gd-color($primary, lighter);

                    &:not(.focus-visible), &.Button--focusHidden {
                        box-shadow: none;
                    }
                }
            }

            &-primary {
                color: gd-color($primary, default-contrast);
                background-color: gd-color($primary, default);
                border-radius: 2px;

                &:disabled {
                    color: gd-color($foreground, disabled-button);
                    background-color: gd-color($background, disabled-button);
                }

                &:focus {
                    box-shadow: 0 0 0 2px gd-color($primary, lighter);

                    &:not(.focus-visible), &.Button--focusHidden {
                        box-shadow: none;
                    }
                }
            }

            &-flat {
                border: 1px solid transparent;
                border-radius: 7.5%;

                &:disabled {
                    color: gd-color($foreground, disabled-button);
                }

                &:focus {
                    border-color: gd-color($background, focused-button);
                    box-shadow: 0 0 2px 0 gd-color($background, focused-button);

                    &:not(.focus-visible), &.Button--focusHidden {
                        border-color: transparent;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
