<form [formGroup]="createNewNoteForm"
      (submit)="createNewNote()"
      class="CreateNewNoteDialog__form">

    <gd-dialog-title>Create New Note</gd-dialog-title>

    <gd-dialog-content>
        <div gdArea gdColumns="1fr 5fr" gdGap="5px">
            <label gdColumn="1" gdRow="1"
                   gdFormFieldLabel
                   for="note-title-input">
                Title:
            </label>
            <gd-form-field gdColumn="2" gdRow="1">
                <input gdInput
                       formControlName="title"
                       cdkFocusInitial
                       id="note-title-input">

                <gd-error errorName="required">
                    Title is required
                </gd-error>
                <gd-error errorName="contentFileExists">
                    File already exists
                </gd-error>
            </gd-form-field>

            <label gdColumn="1" gdRow="2"
                   gdFormFieldLabel
                   for="note-label-input">
                Label:
            </label>
            <gd-form-field gdColumn="2" gdRow="2">
                <input gdInput
                       formControlName="label"
                       id="note-label-input">

                <gd-error errorName="outsideWorkspace">
                    Cannot create file outside of workspace
                </gd-error>
            </gd-form-field>

            <label gdColumn="1" gdRow="3"
                   gdFormFieldLabel
                   for="file-path">
                File Path:
            </label>
            <gd-form-field gdColumn="2" gdRow="3">
                <textarea gdInput
                          [formControl]="filePathControl"
                          readonly
                          gdAutosize
                          rows="2"
                          id="file-path"></textarea>
            </gd-form-field>
        </div>
    </gd-dialog-content>

    <gd-dialog-actions align="end">
        <button gd-primary-button
                [disabled]="createNewNoteProcessing || createNewNoteForm.invalid"
                id="create-new-note-button"
                aria-label="Create new note button">
            Create
        </button>

        <button gd-button
                gdDialogClose
                type="button"
                id="create-new-note-cancel-button"
                aria-label="Cancel button">
            Cancel
        </button>
    </gd-dialog-actions>
</form>
