<div fxLayout="column"
     class="WizardCloning">

    <div fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="space-between"
         class="WizardCloning__content">

        <div gdArea gdColumns="1fr 5fr" gdGap="5px">
            <label gdColumn="1" gdRow="1"
                   gdFormFieldLabel
                   for="remote-url-input">
                URL:
            </label>
            <gd-form-field gdColumn="2" gdRow="1">
                <input gdInput
                       [formControl]="remoteUrl"
                       id="remote-url-input"
                       type="url">

                <gd-error errorName="required">Remote url required</gd-error>
                <gd-error errorName="invalidFormat">
                    Invalid url format
                </gd-error>
            </gd-form-field>

            <label gdRow="2" gdColumn="1"
                   gdFormFieldLabel
                   for="directory">
                Directory:
            </label>
            <gd-form-field gdRow="2" gdColumn="2">
                <textarea gdInput
                          [formControl]="workspaceDirectory"
                          readonly
                          rows="1"
                          id="directory"></textarea>
            </gd-form-field>
        </div>

        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="5px"
             *ngIf="loginCompleted && !alreadyLogin"
             class="WizardCloning__loginComplete">

            <gd-icon iconName="check-circle"></gd-icon>
            <span class="Text">Github Login Completed</span>
        </div>

        <div fxLayout="column"
             *ngIf="!loginCompleted && !alreadyLogin">

            <div fxLayout fxLayoutAlign="center center" fxLayoutGap="10px"
                 class="WizardCloning__formToggling">

                <button gd-flat-button
                        iconContains="left"
                        (click)="toggleAuthForm()"
                        type="button">
                    <gd-icon [iconName]="authFormToggled ? 'caret-down' : 'caret-up'"></gd-icon>
                    <span class="Text">Github Login (Optional)</span>
                </button>

                <gd-horizontal-line></gd-horizontal-line>
            </div>

            <form gdArea gdRows="repeat(4, 1fr)" gdColumns="1fr 3fr 2fr" gdGap="5px"
                  [formGroup]="authenticationForm"
                  [attr.aria-hidden]="!authFormToggled"
                  [class.WizardCloning__authenticationForm--show]="authFormToggled"
                  class="WizardCloning__authenticationForm">

                <label gdRow="1" gdColumn="1"
                       gdFormFieldLabel>Auth Type:</label>
                <gd-radio-group gdRow="1" gdColumn="2 / 4"
                                [formControlName]="'type'"
                                name="type">
                    <gd-radio-button [value]="BASIC_AUTH_TYPE">
                        Username and Password
                    </gd-radio-button>

                    <gd-radio-button [value]="OAUTH2_TOKEN_AUTH_TYPE">
                        Oauth2 Token
                    </gd-radio-button>
                </gd-radio-group>

                <!-- For BASIC authorization -->
                <label gdRow="2" gdColumn="1"
                       *ngIf="authType === BASIC_AUTH_TYPE"
                       gdFormFieldLabel
                       for="user-name-input">
                    Username:
                </label>
                <gd-form-field gdRow="2" gdColumn="2 / 3"
                               *ngIf="authType === BASIC_AUTH_TYPE">
                    <input gdInput
                           formControlName="userName"
                           id="user-name-input">
                </gd-form-field>

                <label gdRow="3" gdColumn="1"
                       *ngIf="authType === BASIC_AUTH_TYPE"
                       gdFormFieldLabel
                       for="password-input">
                    Password:
                </label>
                <gd-form-field gdRow="3" gdColumn="2 / 3"
                               *ngIf="authType === BASIC_AUTH_TYPE">
                    <input gdInput
                           formControlName="password"
                           type="password"
                           id="password-input">
                </gd-form-field>

                <!-- For OAUTH2_TOKEN authorization -->
                <label gdRow="2" gdColumn="1"
                       *ngIf="authType === OAUTH2_TOKEN_AUTH_TYPE"
                       gdFormFieldLabel
                       for="token-input">
                    Token:
                </label>
                <gd-form-field gdRow="2" gdColumn="2 / 4"
                               *ngIf="authType === OAUTH2_TOKEN_AUTH_TYPE">
                    <input gdInput
                           formControlName="token"
                           id="token-input">
                </gd-form-field>

                <div fxLayout fxLayoutAlign="start center" fxLayoutGap="10px" gdRow="4" gdColumn="2 / 4">
                    <button gd-button
                            (click)="loginToGithub()"
                            id="login-button">
                        Login
                    </button>
                    <span *ngIf="loginProcessing"
                          class="Text Text--caption">
                        Login to github.com...
                    </span>
                    <gd-error [show]="loginErrorCaught"
                              class="WizardCloning__loginFailError">
                        Cannot login to github.com
                    </gd-error>
                </div>
            </form>
        </div>
    </div>

    <div fxLayout fxLayoutAlign="end" fxLayoutGap="10px"
         class="WizardCloning__actions">

        <button gd-button
                id="back-step-button"
                (click)="goToBack()">Previous</button>
        <button gd-primary-button
                id="clone-button"
                [disabled]="cloneProcessing || remoteUrl.invalid"
                (click)="clone()">
            {{ cloneProcessing ? 'Cloning...' : 'Clone' }}
        </button>
    </div>
</div>
