<label [attr.for]="inputId" class="RadioButton__label" #label>

    <!--suppress HtmlUnknownTag -->
    <div class="RadioButton__container">
        <div class="RadioButton__outerCircle"></div>
        <div class="RadioButton__innerCircle"></div>
    </div>

    <input #input
           class="RadioButton__input cdk-visually-hidden"
           type="radio"
           [id]="inputId"
           [checked]="checked"
           [attr.name]="name"
           (change)="_onInputChange($event)"
           (click)="_onInputClick($event)">

    <!--suppress HtmlUnknownTag -->
    <div class="RadioButton__content">
        <!-- Add an invisible span so JAWS can read the label -->
        <ng-content></ng-content>
    </div>
</label>
