<div fxLayout="column" #scrollable class="NotePreview">
    <div class="NotePreview__title">
        <h1>{{ noteTitle | async }}</h1>
    </div>

    <div (cdkObserveContent)="patchAnchors()" [debounce]="200" #content
         class="NotePreview__content">
        <div *ngFor="let snippet of noteSnippets | async"
             [class.NotePreview__snippet--text]="snippet.type === noteSnippetTypes.TEXT"
             [class.NotePreview__snippet--code]="snippet.type === noteSnippetTypes.CODE"
             class="NotePreview__snippet">
            <div *ngIf="snippet.type === noteSnippetTypes.CODE" class="NotePreview__snippetCodeMetadata">

            </div>
            <div [innerHTML]="snippet | noteContentSnippetValueToHtml" class="NotePreview__snippetHtml"></div>
        </div>
    </div>

    <div class="NotePreview__languageChart">

    </div>
</div>
