@import "../../ui/style/sizes";

.NoteEditor {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__emptyState {
        left: 0;
        top: 0;
    }

    &__header {
        display: flex;
        width: 100%;
        height: 34px;
        align-items: center;
        padding: 0 $spacing-half;
    }

    &__snippets {
        padding: $spacing;
        min-height: 1px;
        overflow-y: auto;

        > *:not(:last-child) {
            margin-bottom: $spacing;
        }
    }
}
