<div class="NoteCalendar">
    <div class="NoteCalendar__header">
        <h1 class="NoteCalendar__title Text Text--size-normal Text--weight-semibold">
            {{ indexDate | async | date:'MMM y' }}
        </h1>

        <div class="NoteCalendar__actions">
            <button gd-flat-button
                    aria-label="Decrease month"
                    class="NoteCalendar__navButton">
                <gd-icon iconName="angle-left"></gd-icon>
            </button>

            <button gd-flat-button
                    aria-label="Go to today"
                    class="NoteCalendar__goToTodayButton">
                <gd-icon iconName="calendar-check-o"></gd-icon>
            </button>

            <button gd-flat-button
                    aria-label="Increase month"
                    class="NoteCalendar__navButton">
                <gd-icon iconName="angle-right"></gd-icon>
            </button>
        </div>
    </div>

    <table class="NoteCalendar__table">
        <tbody>
        <tr class="NoteCalendar__weeks">
            <td>S</td>
            <td>M</td>
            <td>T</td>
            <td>W</td>
            <td>T</td>
            <td>F</td>
            <td>S</td>
        </tr>
        <tr *ngFor="let row of calendar.rows">
            <td *ngFor="let cell of row.cells">
                <a [attr.datetime]="cell.id"
                   [attr.aria-selected]="isCellSelected(cell)"
                   [class.NoteCalendar__cell--blank]="cell.isBlank()"
                   [class.NoteCalendar__cell--selected]="isCellSelected(cell)"
                   type="button"
                   class="NoteCalendar__cell">

                    <label *ngIf="!cell.isBlank()"
                           class="Text Text--size-small">
                        {{ cell.date | date:'d' }}
                    </label>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="NoteCalendar__selectedDate">
        <span class="Text Text--weight-semibold">Date Selection : </span>
        <span *ngIf="selectedDate | async as dateSelection; else noDateSelection"
              class="Text Text--size-small Text--weight-light">
            {{ dateSelection | date:'y/MM/DD' }}
        </span>
        <ng-template #noDateSelection>
            <span class="Text Text--size-small Text--weight-light Text--italic Text--caption">
                (None)
            </span>
        </ng-template>
    </div>
</div>
