@import "../style/theming";

$spinner-line-size: 2px;

@mixin gd-spinner-theme($theme) {
    $foreground: map-get($theme, foreground);

    .Spinner {
        border-top: $spinner-line-size solid rgba(255, 255, 255, 0.2);
        border-right: $spinner-line-size solid rgba(255, 255, 255, 0.2);
        border-bottom: $spinner-line-size solid rgba(255, 255, 255, 0.2);
        border-left: $spinner-line-size solid;
    }
}
