<div #wrapper class="NoteEditorCodeSnippet">
    <header class="NoteEditorCodeSnippet__header">

        <div class="NoteEditorCodeSnippet__stackIcon">
            <gd-stack-chip *ngIf="canDisplayLanguageStackIcon()"
                           [stack]="languageStack"></gd-stack-chip>
        </div>

        <h1 gd-text
            size="regular"
            weight="bold"
            class="NoteEditorCodeSnippet__title">
            {{_config.fileName || '(No File Name)'}}
        </h1>

        <button gd-button
                gdTooltip
                position="left"
                message="Setting snippet (⌥ + ⇧ + S)"
                [showDelay]="500"
                (click)="openSettingDialog()"
                size="small"
                buttonType="flat"
                aria-label="setting-button"
                class="NoteEditorCodeSnippet__settingButton"
                type="button">
            <i gd-icon name="cog"></i>
        </button>
    </header>

    <div class="NoteEditorCodeSnippet__contentWrapper">
        <div #content class="NoteEditorCodeSnippet__content"></div>
    </div>
</div>
