.NoteEditorTextSnippet {
    padding: var(--size-space-regular);
    border: 1px solid transparent;
    border-radius: 5px;

    &__content {
        font-size: var(--size-font-regular);
        line-height: var(--size-lineHeight-regular);
        color: var(--color-gray-8);
    }

    &--focused {
        border-color: var(--color-gray-4);
    }
}
