.NoteEditorTextSnippet {
    padding: var(--size-space-regular);
    border: 1px solid transparent;
    border-radius: 5px;

    &__content {
    }

    &--focused {
        border-color: var(--color-gray-4);
    }
}
