@import "../style/typography";

.TooltipPanel {
    // The overlay reference updates the pointer-events style property directly on the HTMLElement
    // depending on the state of the overlay. For tooltips the overlay panel should never enable
    // pointer events. To overwrite the inline CSS from the overlay reference `!important` is needed.
    pointer-events: none !important;
}

$tooltip-margin: 6px;
$tooltip-horizontal-padding: 6px;
$tooltip-target-height: 20px;

.Tooltip {
    color: white;
    border-radius: 2px;
    margin: $tooltip-margin;
    max-width: 300px;
    padding: ($tooltip-target-height - $font-size-sm) / 2 $tooltip-horizontal-padding;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: $font-size-sm;
    line-height: $line-height-condensed;
}
