@import "common";
@import "~@angular/cdk/overlay-prebuilt.css";
@import "~@angular/cdk/a11y-prebuilt.css";

@import "../themes/basic-light";
@import "../themes/basic-dark";

.BasicLightTheme {
    $background: map-get($basic-light-theme, background);
    $foreground: map-get($basic-light-theme, foreground);

    background-color: gd-color($background, background);

    body {
        background-color: gd-color($background, background);
        color: gd-color($foreground, text);
    }

    .Text--caption {
        color: gd-color($foreground, secondary-text);
    }
}

.BasicDarkTheme {
    $background: map-get($basic-dark-theme, background);
    $foreground: map-get($basic-dark-theme, foreground);

    background-color: gd-color($background, background);

    body {
        background-color: gd-color($background, background);
        color: gd-color($foreground, text);
    }

    .Text--caption {
        color: gd-color($foreground, secondary-text);
    }
}

.Text {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;

    &--size {
        &-small {
            font-size: $font-size-sm;
        }

        &-normal {
            font-size: $font-size;
        }

        &-medium {
            font-size: $font-size-md;
        }

        &-large {
            font-size: $font-size-lg;
        }

        &-xLarge {
            font-size: $font-size-xl;
        }
    }

    &--weight {
        &-light {
            font-weight: $font-weight-light;
        }

        &-normal {
            font-weight: $font-weight-normal;
        }

        &-semibold {
            font-weight: $font-weight-semibold;
        }

        &-bold {
            font-weight: $font-weight-bold;
        }
    }

    &--italic {
        font-style: italic;
    }

    &--caption {
    }
}

.LineHeight {
    line-height: $line-height;

    &--condensed {
        line-height: $line-height-condensed;
    }
}
