@import "../../ui/style/theming";

@mixin gd-sidenav-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .Sidenav {
        & > nav {
            background-color: gd-color($background, background-highlight);
            border-right: 1px solid gd-color($foreground, divider);
        }

        &__tab--active > .Button {
            background-color: gd-color($background, focused-button) !important;
            box-shadow: 0 0 2px 0 gd-color($background, focused-button) inset !important;
        }

        &__panel {
            border-right: 1px solid gd-color($foreground, divider);
        }
    }
}
