@import "../../ui/style/sizes";

:host {
    display: block;
    width: fit-content;
}

$sidenav-nav-size: 50px;
$sidenav-panel-initial-size: 250px;

.Sidenav {
    display: flex;
    height: 100%;

    & > nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: $sidenav-nav-size;
        height: 100%;
    }

    &__tabList {
        margin: 0;
        padding: $spacing - 2px 0;
    }

    &__tab {
        list-style: none;
        display: block;
        margin: 0 0 $spacing-half 0;
    }

    &__panel {
        display: none;
        visibility: hidden;
        width: $sidenav-panel-initial-size;
        height: 100%;
    }

    &__panelContainer {
        display: none;
        visibility: hidden;
        width: 100%;
        height: 100%;

        &--show {
            display: block;
            visibility: visible;
        }
    }

    &--showPanel {
        .Sidenav__panel {
            display: inline-block;
            visibility: visible;
        }
    }
}
