<div [class.NoteItem--selected]="selected"
     class="NoteItem">
    <label *ngIf="status !== 'none'"
           [class.NoteItem__statusLabel--added]="status === 'added'"
           [class.NoteItem__statusLabel--modified]="status === 'modified'"
           class="NoteItem__statusLabel"></label>

    <h1 gd-text
        size="regular"
        [weight]="selected ? 'bold' : 'medium'"
        class="NoteItem__title">Note title</h1>

    <div role="list" class="NoteItem__stackChips">
        <gd-stack-chip
            *ngFor="let stackItem of getStackItemDummies() | async"
            size="medium"
            [stackItem]="stackItem"></gd-stack-chip>
    </div>
</div>
