<div [class.NoteItem--selected]="selected"
     class="NoteItem">
    <label *ngIf="status !== 'none'"
           [class.NoteItem__statusLabel--added]="status === 'added'"
           [class.NoteItem__statusLabel--modified]="status === 'modified'"
           class="NoteItem__statusLabel"></label>

    <h1 gd-text
        size="regular"
        weight="bold"
        class="NoteItem__title">
        {{note.title}}
    </h1>

    <time [attr.datetime]="note.createdDatetime | date"
          gd-text
          size="small"
          class="NoteItem__createdAt">
        {{note.createdDatetime | date:'MMM d, y HH:mm'}}
    </time>

    <div role="list" class="NoteItem__stackChips">
        <gd-stack-chip
            *ngFor="let stack of stacks"
            size="medium"
            [stack]="stack"></gd-stack-chip>
    </div>
</div>
