.Autocomplete {
    max-height: 256px;
    overflow-y: scroll;
    visibility: hidden;
    box-shadow: 0 0 2px 0 var(--color-gray-5);

    &--visible {
        visibility: visible;
    }

    &--hidden {
        visibility: hidden;
    }
}
