.Autocomplete {
    max-height: 256px;
    overflow-y: scroll;
    visibility: hidden;
    box-shadow: 0 0 2px 0 var(--color-gray-5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 1px solid var(--color-gray-4);
    border-right: 1px solid var(--color-gray-4);
    border-bottom: 1px solid var(--color-gray-4);

    &--visible {
        visibility: visible;
    }

    &--hidden {
        visibility: hidden;
    }
}
