<div [class.NoteWorkspace--view-editorOnly]="(editorViewMode | async) === VIEW_EDITOR_ONLY_MODE"
     [class.NoteWorkspace--view-previewOnly]="(editorViewMode | async) === VIEW_PREVIEW_ONLY_MODE"
     class="NoteWorkspace">

    <header>
        <gd-note-header></gd-note-header>
    </header>

    <section>
        <div *ngIf="(editorLoaded | async) === false"
             id="noteEmptyState"
             class="NoteWorkspace__emptyState">

            <h1 gd-text size="medium" weight="bold">
                Write note for today
            </h1>
            <button gd-button
                    (click)="addNewNote()"
                    buttonType="primary"
                    size="medium"
                    class="NoteWorkspace__addNewNote">
                <span gd-text size="regular">Add new note</span>
            </button>
        </div>

        <div class="NoteWorkspace__panel NoteWorkspace__panel--editor">
            <gd-note-editor [layoutUpdated]="layoutUpdateActions"></gd-note-editor>
        </div>

        <div class="NoteWorkspace__panel NoteWorkspace__panel--preview">
            <gd-note-preview></gd-note-preview>
        </div>
    </section>
</div>
