&:host {
    display: block;
    width: 100%;
    height: 100%;
}


.NoteWorkspace {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__header {
        width: 100%;
        height: var(--size-box-medium);
        border-bottom: 1px solid var(--color-gray-4);
    }

    &__body {
        flex: 1;
        display: block;
        width: 100%;
        min-height: 1px;

        &:after {
            clear: both;
            display: block;
            content: " ";
        }
    }

    &__partial {
        float: left;
        display: inline-block;
        width: 50%;
        height: 100%;

        &:first-child {
            border-right: 1px solid var(--color-gray-4);
        }
    }
}
