<div class="NoteHeader">
    <div class="NoteHeader__noteDisplay">
        <label class="NoteHeader__noteStatusLabel"></label>

        <div *ngIf="selectedNote | async as note"
             class="NoteHeader__title">
            <h1 gd-text weight="bold">{{note.title}}</h1>
            <hr>
            <time gd-text size="small" [attr.datetime]="note.createdDatetime | date">
                {{note.createdDatetime | date:'MMM d, y'}}
            </time>
        </div>
    </div>

    <div class="NoteHeader__actions">
        <ul role="toolbar" class="NoteHeader__toolbar">
            <li *ngFor="let toolItem of toolItems"
                role="presentation"
                gdTooltip
                [message]="toolItem.description"
                [showDelay]="500"
                class="NoteHeader__toolItem">
                <button gd-button buttonType="flat">
                    <i gd-icon [name]="toolItem.iconName"></i>
                </button>
            </li>
        </ul>

        <button gd-button
                buttonType="primary"
                class="NoteHeader__publishButton">
            <span gd-text>Publish</span>
        </button>
    </div>
</div>
