<div class="NoteList">
    <header class="NoteList__header">
        <h1 class="NoteList__title">July, 23</h1>
        <div class="NoteList__toolbar">
            <app-button [buttonType]="'flat'">
                <app-icon [iconName]="'sort-amount-asc'" [iconColor]="'gray'"></app-icon>
            </app-button>

            <app-button [buttonType]="'flat'">
                <app-icon [iconName]="'filter'" [iconColor]="'gray'"></app-icon>
            </app-button>
        </div>
    </header>

    <ul class="NoteList__body">
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>
        <li class="NoteList__item">123</li>

    </ul>
</div>
