@import "../../../ui/style/theming";

@mixin gd-vcs-commit-dialog-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .VcsCommitDialog {
        &__itemContainer {
            border: 1px solid gd-color($foreground, divider);

            > h2 {
                border-bottom: 1px solid gd-color($foreground, divider);
            }
        }

        &__itemList {
            background-color: gd-color($background, background);

            .VcsItemPane {
                border-bottom: 1px solid gd-color($foreground, divider);
            }
        }
    }
}
