@import "../../ui/style/theming";
@import "../../ui/style/sizes";

@mixin gd-note-snippet-editor-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    .CodeMirror {
        color: inherit;
        height: auto;
        background-color: inherit;

        font-family: inherit;
        font-weight: $font-weight-normal;
        font-size: $font-size-md;
        line-height: $line-height;

        pre {
            padding: 0 $spacing-half;
        }

        span.cm-def {
            color: inherit;
        }

        span.cm-header {
            font-weight: $font-weight-semibold;
            color: gd-color($primary);
        }

        &-gutters {
            border-right: 1px solid gd-color($foreground, divider);
            background-color: gd-color($background, background-highlight);
        }

        &-lineNumber {
            color: gd-color($foreground, secondary-text);
        }

        &-cursor {
            border-left: 1px solid gd-color($foreground, secondary-text);
        }

        &-selected {
            background: none;
        }

        &-focused {
            .CodeMirror-selected {
                background: gd-color($primary, lighter);
            }
        }
    }

    .NoteTextSnippetEditor {
        border: 1px solid transparent;
        color: gd-color($foreground, text);

        &--focused {
            border-color: gd-color($foreground, divider);
        }

        &__editor {
            background-color: gd-color($background, background);
        }

        span.cm-variable-2, span.cm-variable-3, span.cm-keyword {
            color: gd-color($foreground, secondary-text);
        }

        span.cm-comment {
            color: gd-color($foreground, hint-text);
        }

        span.cm-link {
            text-decoration: none;
            color: gd-color($foreground, text);
        }

        span.cm-url {
            color: gd-color($foreground, secondary-text);
        }

        span.cm-quote {
            color: gd-color($foreground, secondary-text);
        }

        span.cm-string {
            font-weight: $font-weight-semibold;
            color: gd-color($foreground, secondary-text);
        }
    }

    .NoteCodeSnippetEditor {
        color: gd-color($foreground, text);

        &__title {
            background: gd-color($background, background-highlight);
            border: 1px solid gd-color($foreground, divider);
        }

        &__editor {
            background-color: gd-color($background, background);
            border-left: 1px solid gd-color($foreground, divider);
            border-right: 1px solid gd-color($foreground, divider);
            border-bottom: 1px solid gd-color($foreground, divider);
        }

        span.cm-keyword {
            color: gd-color($primary);
        }

        span.cm-type, span.cm-property {
            color: gd-color($foreground, secondary-text);
        }

        span.cm-number {
            color: gd-color($primary);
        }

        span.cm-comment {
            color: gd-color($color-green, 800);
        }

        span.cm-string {
            color: map-get($color-deep-orange, 600);
        }

        .CodeMirror-activeline-background {
            background: gd-color($background, background-highlight, .65);
        }
    }
}
