@import "../../ui/style/sizes";
@import "../../ui/style/typography";

.NoteTextSnippetEditor {
    display: block;
    padding: $spacing-third $spacing-half;
    min-height: min-content;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-normal;
    font-size: $font-size-md;
    line-height: $line-height;
    border-radius: 5px;
}
