@import "../../ui/style/sizes";
@import "../../ui/style/typography";

.NoteCodeSnippetEditor {
    display: block;
    min-height: min-content;
    font-family: $font-family-monospace;
    font-weight: $font-weight-normal;
    font-size: $font-size-md;
    line-height: $line-height;

    &__title {
        padding: 0 $spacing;
        height: 26px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__editor {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
    }
}
