@import "../ui/style/theming";

@mixin gd-wizard-theme($theme) {
    $foreground: map-get($theme, foreground);

    .Wizard {
        section:first-child {
            border-right: 1px solid gd-color($foreground, divider);
        }
    }
}
