@import "../ui/style/spacing";

.Wizard {
    width: 100%;
    height: 100%;

    header {
        padding: $spacing-double 0 $spacing 0;
    }

    &__choosing {
        padding: $spacing 0;
    }

    footer {
        padding: $spacing 0 $spacing-double 0;
    }
}
