@import "../style/theming";

@mixin gd-input-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    .Input {
        background: gd-color($background, background-highlight);
        border: 1px solid gd-color($foreground, divider);
        color: gd-color($foreground, text);

        &:focus {
            // background: gd-color($background, background-highlight);
            border-color: gd-color($primary);
            box-shadow: 0 0 0 1px gd-color($primary);
        }

        &:disabled, &[readonly] {
            background-color: gd-color($background, background);
            // color: gd-color($foreground, disabled-text);
        }

    }
}
