@import "../style/sizes";
@import "../style/typography";

$input-padding: $form-control-size / 3.2;

.Input {
    outline: 0;
    padding: 0 $input-padding;
    height: $form-control-size;
    border-radius: 2.5px;
    font-size: $font-size;
    line-height: $line-height;
}


textarea.Input {
    padding: $form-control-label-top-bottom-padding - 1 $input-padding;
    height: auto;
    resize: none;
}
