:root {
    --size-font-tiny: 10px;
    --size-font-small: 12px;
    --size-font-regular: 14px;
    --size-font-medium: 17px;
    --size-font-big: 21px;

    --size-lineHeight-tiny: 12px;
    --size-lineHeight-small: 15px;
    --size-lineHeight-regular: 17.5px;
    --size-lineHeight-medium: 20px;
    --size-lineHeight-big: 23.5px;

    --size-space-tiny: 2px;
    --size-space-small: 4px;
    --size-space-regular: 8px;
    --size-space-medium: 12px;
    --size-space-big: 16px;

    --size-box-small: 24px;
    --size-box-regular: 28px;
    --size-box-medium: 34px;
    --size-box-big: 42px;

    --layout-sidebar-nav: 52px;
    --layout-sidebar-panel: 250px;
    --layout-sidebar-full: 302px;
}
