<div fxLayout fxLayoutAlign="space-between center"
     class="NoteListTools">

    <gd-button-toggle-group [formControl]="viewModeControl">
        <gd-button-toggle *ngFor="let option of viewModeOptions"
                          [value]="option.value"
                          [name]="option.name">
            <gd-icon [iconName]="option.iconName"></gd-icon>
        </gd-button-toggle>
    </gd-button-toggle-group>

    <button gd-flat-button
            id="sorting-menu-button"
            gdTooltip
            message="Sorting notes"
            aria-label="Open sorting notes menu"
            (click)="openSortingMenu()">
        <gd-icon iconName="sort"></gd-icon>
    </button>
</div>
