@import "../ui/style/theming";

@mixin gd-app-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .App {
        &__sections {
            &--showBoth {
                > section:first-child {
                    border-right: 1px solid gd-color($foreground, divider);
                }
            }
        }

        &__noSelectedNote {
            color: gd-color($foreground, disabled-text);
            background-color: gd-color($background, background);
        }
    }
}
