@import "../../../ui/style/theming";

@mixin gd-note-header-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .NoteHeader {
        background-color: gd-color($background, background-highlight);
        border-bottom: 1px solid gd-color($foreground, divider);

        &__statusIcon {
            > svg {
                display: block;
                width: 16px;
                height: 16px;
            }
        }
    }
}
