<header fxLayout fxLayoutAlign="start center" class="NoteHeader">
    <div *ngIf="noteSelectionExists" fxLayout fxLayoutAlign="start center" fxFlex="1 1 auto" class="NoteHeader__title">
        <h1 id="selected-note-title">{{ selectedNote.title }}</h1>
    </div>

    <div *ngIf="noteSelectionExists" fxLayout fxLayoutAlign="start center" class="NoteHeader__toolbar">
        <button gd-icon-button aria-label="Change editor view mode"
                (click)="openEditorViewModeMenu()" id="note-change-editor-view-mode-button">
            <gd-icon name="eye"></gd-icon>
        </button>
        <button gd-icon-button aria-label="View history of note">
            <gd-icon name="history"></gd-icon>
        </button>
        <button gd-icon-button aria-label="More works for note">
            <gd-icon name="ellipsis-v"></gd-icon>
        </button>

        <button gd-button [disabled]="!canCommit" (click)="openCommitDialog()"
                gdTooltip="Commit Note (⌘+K)" color="primary" class="NoteHeader__commitButton">
            Commit
        </button>
    </div>
</header>
