<div class="Wizard">
    <gd-title-bar>Welcome to Geeks Diary</gd-title-bar>
    <div class="Wizard__container">
        <section>
            <gd-icon iconName="plus"></gd-icon>
            <p>Create a new workspace with git initialized</p>
            <button gd-button>Create New Workspace</button>
        </section>

        <section>
            <gd-icon iconName="download"></gd-icon>
            <p>Clone an existing workspace from remote</p>
            <button gd-button>Clone a Repository</button>
        </section>
    </div>
    <footer>
        <button gd-flat-button>
            <gd-icon iconName="cog"></gd-icon>
            <span class="Text">Settings</span>
        </button>

        <button gd-flat-button>
            <gd-icon iconName="info-circle"></gd-icon>
            <span class="Text">Get Help</span>
        </button>
    </footer>
</div>
