<div fxLayout="column"
     class="Wizard">

    <gd-title-bar>Welcome to Geeks Diary</gd-title-bar>

    <header *ngIf="step === 'choosing'">
        <!-- TODO: Add logo -->
    </header>

    <div fxFlex="1 0 auto" fxLayout="flex"
         [ngSwitch]="step"
         class="Wizard__container">

        <div *ngSwitchCase="'choosing'"
             fxLayout fxFlex="1 0 auto"
             class="Wizard__choosing">

            <section fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="center center">
                <gd-icon iconName="plus" [bigSize]="true"></gd-icon>
                <p>Create a new workspace with git initialized</p>
                <button gd-button
                        id="create-new-repository-button"
                        (click)="createNewWorkspace()">
                    Create New Workspace
                </button>
            </section>

            <section fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="center center">
                <gd-icon iconName="github" [bigSize]="true"></gd-icon>
                <p>Clone an existing workspace from Github</p>
                <button gd-button
                        id="clone-remote-button"
                        (click)="stepTo('cloneRemote')">
                    Clone a Repository
                </button>
            </section>
        </div>

        <gd-wizard-cloning
            *ngSwitchCase="'cloneRemote'"
            fxFlex="1 0 auto"
            (backStep)="stepTo('choosing')"
            (cloneComplete)="createNewWorkspace()"
            class="Wizard__cloning"></gd-wizard-cloning>
    </div>

    <footer fxLayout fxLayoutAlign="center center"
            *ngIf="step === 'choosing'">

        <gd-button-toggle-group [formControl]="themeControl">
            <gd-button-toggle
                *ngFor="let option of themeOptions"
                [value]="option.value">
                {{ option.name }}
            </gd-button-toggle>
        </gd-button-toggle-group>
    </footer>
</div>
