@import "../../../ui/style/spacing";
@import "../../../ui/style/typography";

.NoteList {
    overflow-y: auto;
    width: 100%;
    min-height: 1px;

    &__emptyState {
        visibility: visible;
        padding: $spacing-triple $spacing;
        font: {
            size: $font-size-md;
            weight: $font-weight-semiBold;
        };

        &--hide {
            display: none !important;
            visibility: hidden;
        }
    }
}
