@import "../style/spacing";
@import "../style/typography";
@import "./dialog-sizes";

gd-dialog-container {
    position: relative;

    display: block;
    border-radius: $dialog-border-radius;
    overflow: hidden;
    outline: none;

    width: inherit;
    height: inherit;
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
}

.DialogHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: $dialog-header-size;
    padding: 1px $spacing 0 $spacing;
    border-bottom: 1px solid;
}

.DialogTitle {
    margin: 0;
    font-size: $font-size;
    font-weight: $font-weight-semiBold;
    line-height: $line-height-condensed;
}

.DialogContent {
    display: block;
    margin: 0;
    padding: $spacing;
    max-height: 60vh;
    overflow: auto;
}

.DialogActions {
    padding: $spacing-half $spacing $spacing $spacing;
    display: flex;
    flex-wrap: wrap;

    &--align {
        &-left {
            justify-content: flex-start;
        }

        &-center {
            justify-content: center;
        }

        &-right {
            justify-content: flex-end;
        }
    }
}

.DialogBackdrop {
    background: rgba(0, 0, 0, .5);
}
