<div class="NoteList">
    <div fxLayout fxLayoutAlign="center center"
         *ngIf="isEmpty"
         class="NoteList__emptyState">
        <span class="Text Text--size-medium Text--weight-semibold">
            No Notes
        </span>
    </div>

    <gd-note-item
        *ngFor="let note of notes | async; let i = index"
        [note]="note"
        [active]="activeItemIndex === i"
        [selected]="(selectedNote | async)?.id === note.id"
        (selectionChange)="selectNote($event)"></gd-note-item>
</div>
