@import "../style/theming";

@mixin gd-form-field-theme($theme) {
    $warn: map-get($theme, warn);

    .FormField {
        &--invalid {
            input.FormFieldControl, textarea.FormFieldControl {
                border: 1px solid gd-color($warn);
                //noinspection CssUnknownProperty
                caret-color: gd-color($warn);

                &:focus {
                    border-color: gd-color($warn);
                    box-shadow: 0 0 0 1px gd-color($warn);
                }
            }
        }
    }
}
