@import "../style/spacing";

.ButtonToggleGroup {
    position: relative;
    display: inline-flex;
    flex-direction: row;

    border-radius: 2px;

    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;

    &--vertical {
        flex-direction: column;

        .ButtonToggle__content {
            display: block;
        }
    }
}

.ButtonToggle {
    white-space: nowrap;
    position: relative;
    cursor: pointer;

    &__button {
        border: 0;
        background: none;
        color: inherit;
        padding: inherit;
        margin: inherit;
        font: inherit;
        outline: none;
    }

    &__content {
        display: inline-block;
        cursor: inherit;
        padding: 0 $spacing;
        line-height: 22px;

        & > * {
            vertical-align: middle;
        }
    }

    &:disabled {
        cursor: default;
    }
}
