@import "../style/theming";

@mixin gd-ui-radio-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .RadioButton {
        &__outerCircle {
            border: 2px solid gd-color($foreground, secondary-text);
        }

        &__innerCircle {
            background-color: gd-color($primary);
        }

        &--checked {
            .RadioButton__outerCircle {
                border: 2px solid gd-color($primary);
            }
        }

        &--focused {
            .RadioButton__outerCircle {
                box-shadow: 0 0 5px 1px gd-color($primary, lighter);
            }
        }
    }
}
