@import "../style/typography";

.Error {
    visibility: hidden;
    display: none;

    font: {
        size: $font-size-sm;
        weight: $font-weight-semibold;
    };

    line-height: $line-height-condensed;

    &--show {
        visibility: visible;
        display: block;
    }
}
