@import "typography";

$spacing: 10px;
$spacing-double: 20px;
$spacing-triple: 30px;
$spacing-half: 5px;
$spacing-third: calc(10px / 3);

$button-size: 28px;
$button-size-big: 36px;

$form-control-size: 28px;
$form-control-label-top-bottom-padding: ($form-control-size - ($font-size * $line-height)) / 2;

$icon-size: 15px;
$icon-size-big: 20px;
