@import "../../../ui/style/theming";

@mixin gd-note-item-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    .NoteItem {
        &__labelWrapper {
            > label {
                border: 1px solid gd-color($foreground, divider);
                color: gd-color($foreground, secondary-text);
            }
        }

        &__stackItem {
            > span {
                border: 1px solid gd-color($foreground, divider);
                border-radius: 7.5px;
                color: gd-color($foreground, secondary-text);
            }
        }

        &:focus {
            background-color: gd-color($primary);
            color: gd-color($primary, default-contrast);
            outline: 0;

            .NoteItem__labelWrapper > label {
                border-color: gd-color($primary, default-contrast);
                color: gd-color($primary, default-contrast);
            }

            .NoteItem__createdAt {
                color: gd-color($primary, default-contrast);
            }
        }

        &--selected {
            background-color: gd-color($background, background-highlight);
        }
    }
}
