<div [ngClass]="cn.get()" class="App">
    <app-aside class="App__aside">
        <app-calendar></app-calendar>
    </app-aside>

    <main class="App__main">
        <header class="App__header">
            <app-button (buttonClick)="toggleAside()" [buttonType]="'flat'">
                <app-icon [iconName]="'navicon'" [iconColor]="'gray'"></app-icon>
            </app-button>

            <div class="App__title">
                <h1 aria-label="Note Title">Note Title</h1>
                <span></span>
                <time aria-label="Note Created" datetime="2017-08-04T06:54:18.456Z">July, 23</time>
            </div>

            <div aria-label="Note Toolbar" class="App__toolbar">
                <app-button [buttonType]="'flat'">
                    <app-icon [iconName]="'eye'" [iconColor]="'gray'"></app-icon>
                </app-button>

                <app-button [buttonType]="'flat'">
                    <app-icon [iconName]="'trash'" [iconColor]="'gray'"></app-icon>
                </app-button>

                <app-button [buttonType]="'flat'">
                    <app-icon [iconName]="'external-link'" [iconColor]="'gray'"></app-icon>
                </app-button>

                <app-button [buttonType]="'primary'" class="App__publishBtn">
                    <span>Publish</span>
                </app-button>
            </div>
        </header>

        <section class="App__content">
            <app-note-editor></app-note-editor>
        </section>
    </main>
</div>
