<div [ngClass]="cn.get()" class="App">
    <nav class="App__activityBar">
        <app-tool-bar [toolBarTitle]="'Activity view navigator'"
                      [toolBarSize]="'big'"
                      [toolItems]="activityViewNavigators"
                      [toolBarDirection]="'vertical'"></app-tool-bar>

        <app-tool-bar [toolBarTitle]="'Global actions'"
                      [toolBarSize]="'big'"
                      [toolItems]="globalActions"
                      [toolBarDirection]="'vertical'"></app-tool-bar>
    </nav>

    <app-aside class="App__aside">
        <app-note-finder></app-note-finder>
    </app-aside>

    <main class="App__noteWorkspace">
        <header class="App__noteHeader">
            <div class="App__noteTitle">
                <h1 aria-label="Note Title">Note Title</h1>
                <span></span>
                <time aria-label="Note Created" datetime="2017-08-04T06:54:18.456Z">July, 23</time>
            </div>

            <app-tool-bar
                    (toolBarClick)="handleNoteAction($event)"
                    [toolBarTitle]="'Note actions'"
                    [toolBarSize]="'regular'"
                    [toolItems]="noteActions"></app-tool-bar>

            <app-button [buttonTitle]="'Publish note'" [buttonType]="'primary'" class="App__notePublishBtn">
                <span>Publish</span>
            </app-button>
        </header>

        <section class="App__content" style="padding: 16px;">
            <app-note-editor></app-note-editor>
        </section>
    </main>
</div>
