@import "../style/sizes";
@import "../style/typography";

gd-dialog-container {
    display: block;
    min-height: inherit;
    max-height: inherit;
    width: fit-content;
    height: fit-content;
}

.DialogContainer {
    display: block;
    border-radius: 3px;
    overflow: auto;
    outline: 0;

    // min-height: inherit;
    // max-height: inherit;
    // width: 100%;
    // height: 100%;
}

.DialogTitle {
    display: block;
    font-size: $font-size-md;
    // font-weight: $font-weight-semibold;
    line-height: $line-height-condensed;
    margin: 0;
    padding: $spacing;
    border-bottom: 1px solid;
}

.DialogContent {
    display: block;
    margin: 0;
    padding: $spacing;
    max-height: 60vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.DialogActions {
    padding: $spacing-half $spacing $spacing $spacing;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .Button + .Button {
        margin-left: $spacing-half;
    }
}
