<div class="NoteEditor__toolbar">
    <!--<button gd-button (click)="open()">Open</button>-->
</div>

<div fxFlex="1 1 auto" #scrollable class="NoteEditor__scrollable">
    <div class="NoteEditor__titleEdit">
        <div class="NoteEditor__titleTextarea">
            <textarea #titleTextarea gdAutosize rows="1" [formControl]="titleInputControl"
                      placeholder="Untitled Note" (keydown.arrowdown)="moveFocusToSnippetEditor($event)"
                      (keydown.enter)="moveFocusToSnippetEditor($event)"></textarea>
        </div>
    </div>

    <div class="NoteEditor__snippetsContainer">
        <div #snippetsList class="NoteEditor__snippetsList"></div>
    </div>
</div>
