$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$font-size-sm: 11px;
$font-size: 12px;
$font-size-md: 14px;
$font-size-lg: 28px;
$font-size-xl: 32px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-semiBold: 600;

$line-height: 1.5;
$line-height-condensed: 1.25;
