<div class="NoteFinder">
    <header>
        <h1 gd-text weight="medium">Notes</h1>
        <button gd-button
                buttonType="flat"
                size="regular"
                title="Add note"
                (click)="addNewNote()"
                class="NoteFinder__addNoteButton">
            <i gd-icon name="plus" size="regular"></i>
        </button>
    </header>

    <div class="NoteFinder__calendar">
        <gd-note-calendar
            (changeIndexDate)="updateIndexDate($event)"
            (selectDate)="selectDateFilter($event)"
            [contributeTable]="contributeTable"
            [indexDate]="indexDate"></gd-note-calendar>
    </div>

    <section class="NoteFinder__content">
        <div class="NoteFinder__filter">
            <div class="NoteFinder__writtenAt">
                <span gd-text size="small">Date selection: </span>
                <h2 gd-text size="small" weight="bold">
                    {{selectedDate ? (selectedDate | date:'MMM d') : '-'}}
                </h2>
            </div>

            <button gd-button
                    (click)="openSortMenu()"
                    buttonType="flat"
                    size="small"
                    class="NoteFinder__sortOrderButton">
                <i gd-icon name="sort" size="small"></i>
            </button>
        </div>

        <ul class="NoteFinder__noteList">
            <li *ngFor="let note of notes | async"
                class="NoteFinder__noteItem">
                <a gd-note-item
                   (click)="selectNote(note)"
                   [selected]="note.id === (selectedNote | async)?.id"
                   [note]="note"></a>
            </li>
        </ul>
    </section>
</div>
