<aside [class.AppLayoutSidenav--showPanel]="showPanel | async"
       class="AppLayoutSidenav">

    <nav class="AppLayoutSidenav__nav">
        <ul role="tablist"
            class="AppLayoutSidenav__tabList">
            <li *ngFor="let outlet of outlets"
                role="tab"
                [gdTooltip]="outlet.description"
                [gdTooltipPosition]="'right'"
                [class.AppLayoutSidenav__tab--active]="(activeTabId | async) === outlet.id"
                class="AppLayoutSidenav__tab">
                <button gd-icon-button
                        [attr.aria-label]="outlet.name"
                        [attr.aria-pressed]="(activeTabId | async) === outlet.id"
                        (click)="toggleServicePanel(outlet.id)">
                    <gd-icon [name]="outlet.iconName"></gd-icon>
                </button>
            </li>
        </ul>
    </nav>

    <gd-resizable-content role="tabpanel" class="AppLayoutSidenav__panel">
        <div *ngFor="let outlet of outlets"
             [class.AppLayoutSidenav__panelWrapper--show]="(activeTabId | async) === outlet.id"
             [attr.aria-hidden]="(activeTabId | async) !== outlet.id"
             class="AppLayoutSidenav__panelWrapper">
            <!--suppress UnnecessaryLabelJS -->
            <ng-container *ngComponentOutlet="outlet.outletComponent; injector: _injector"></ng-container>
        </div>

        <div gdResizableHandler></div>
    </gd-resizable-content>
</aside>
